---
const { class: className } = Astro.props;
---

<div class:list={['container', className]}>
    <slot />
</div>

<style lang="scss">
    .container {
        position: relative;
        max-width: 80%;
        padding: 0 20px;
        margin: 0 auto;

        @media (max-width: 1200px) {
            max-width: 90%;
        }

        @media (max-width: 900px) {
            max-width: 95%;
        }
    }
</style>