---
import Container from "./Container.astro";
import Grain from "./Grain.astro";
import CircleBlur from "./CircleBlur.astro";
import Nav from "./Nav.astro";
---

<section class="hero">
    <CircleBlur />
    <Grain />
    <Container class="container">
        <Nav />
        <div class="wrap">
            <div class="copy">
                <p class="quote">“Productivity is being able to do things that you were never able to do before.” — Franz Kafka</p>
            </div>
            <div class="card" />
        </div>
        <div class="by">
            Designed & Built by <a href="https://netoramalho.dev" target="_blank">Neto Ramalho</a>
        </div>
    </Container>
</section>

<style lang="scss">
    .hero {
        position: relative;
        min-height: 100vh;
        width: 100%;
        background-color: hsla(var(--color), 43%, 16%, 1);
        transition: background-color 400ms ease-in-out;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
        min-height: 100vh;
    }

    .wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 90px;
        width: 100%;
        margin: 40px 0;
    }

    @keyframes fade-left {
        from { opacity: 0; transform: translateX(5%); }
        to { opacity: 1; transform: translateX(0); }
    }
    .card {
        width: 100%;
        max-width: 500px;
        height: 442px;
        border-radius: 10px;
        background: rgba(217, 217, 217, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);
        opacity: 0;
        transform: translateX(5%);
        animation: fade-left 400ms ease-in-out forwards;
        animation-delay: 600ms;
    }

    @keyframes fade-right {
        from { opacity: 0; transform: translateX(-5%); }
        to { opacity: 1; transform: translateX(0); }
    }
    .copy {
        max-width: 601px;
        opacity: 0;
        transform: translateX(-5%);
        animation: fade-right 400ms ease-in-out forwards;
        animation-delay: 600ms;
    }

    .quote {
        color: rgba(255, 255, 255, 0.6);
        font-size: 36px;
        line-height: 145%;
    }

    @keyframes fade-up {
        from { opacity: 0; transform: translateY(10%); }
        to { opacity: 1; transform: translateY(0); }
    }

    .by {
        color: rgba(255, 255, 255, 0.4);
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        opacity: 0;
        transform: translateY(10%);
        animation: fade-up 300ms ease-in forwards;
        animation-delay: 1200ms;
        margin-bottom: 41px;

        a {
            color: #FFFFFF;
        }
    }
</style>