---
import Container from "./Container.astro";
// import Grain from "./Grain.astro";
// import CircleBlur from "./CircleBlur.astro";
import Nav from "./Nav.astro";
import PomodoroCard from "./PomodoroCard.astro";
---

<section class="hero">
    <!-- <CircleBlur class="hero__circle" /> -->
    <!-- <Grain /> -->
    <Container class="hero__container">
        <Nav />
        <div class="hero__wrap">
            <p class="hero__quote">
                “Productivity is being able to do things that you were never able to do before.” — Franz Kafka
            </p>

            <PomodoroCard />
        </div>
        <div class="hero__by">
            Designed & Built by <a href="https://netoramalho.dev" target="_blank">Neto Ramalho</a>
        </div>
    </Container>
</section>

<style lang="scss">
    .hero {
        position: relative;
        width: 100%;
        background-color: hsla(var(--color), 43%, 16%, 1);
        transition: background-color 400ms ease-in-out;
        overflow: hidden;

        &__circle {
            inset: 0;
            margin: auto;
        }

        &__container {
            position: relative;
            z-index: 5;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-between;
            // padding-top: 0;
            // padding-bottom: 0;
            // gap: 100px;
            // height: 100svh;

            @media (max-width: 950px) {
                // gap: 50px;
            }

            @media (max-width: 650px) {
                // gap: 20px;
            }
        }

        &__wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // gap: 90px;
            width: 100%;
            // margin: 40px 0;

            @media (max-width: 950px) {
                // gap: 50px;
            }

            @media (max-width: 800px) {
                flex-direction: column;
                // gap: 30px;
            }
        }

        &__quote {
            max-width: 40vw;
            opacity: 0.01;
            transform: translateX(-5%);
            animation: fade-right 400ms ease-in-out forwards;
            animation-delay: 200ms;

            color: rgba(255, 255, 255, 0.6);
            font-size: 36px;
            font-size: clamp(26px, 2.4vw, 56px);
            line-height: 145%;

            @media (max-width: 800px) {
                max-width: 500px;
            }
        }

        &__by {
            color: rgba(255, 255, 255, 0.4);
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            opacity: 0.01;
            transform: translateY(10%);
            animation: fade-up 300ms ease-in forwards;
            animation-delay: 800ms;
            margin-bottom: 41px;

            a {
                color: #FFFFFF;
            }
        }
    }
</style>