<nav class="nav">
    <div class="nav__brand">focus.<span>netoramalho.dev</span></div>
    <div class="nav__flex" />
    <a
        href="https://github.com/netoramalho/astro-pomodoro"
        target="_blank"
        class="nav__link"
    >
        GitHub
    </a>
</nav>

<style lang="scss">
    .nav {
        position: relative;
        display: flex;
        width: 100%;
        padding-top: 40px;
        // opacity: 0;
        // transform: translateY(-10%);
        // animation: fade-down 300ms ease-in forwards;
        // animation-delay: 800ms;

        &__brand {
            font-size: 16px;
            color: white;
            font-weight: 700;

            span {
                font-weight: 400;
                opacity: 40%;
            }
        }

        &__flex {
            flex: 1;
        }

        &__link {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.4);
            text-decoration: underline;
        }
    }
</style>