---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro pomodoro">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link data-n-head="ssr" rel="preload" as="font" href="/fonts/worksans/latin.woff2" crossorigin="">
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: "Work Sans";
		font-style: normal;
		font-weight: 100 900;
		font-display: swap;
		src: url("/fonts/worksans/latin.woff2") format("woff2");
		unicode-range:
			U+0000-00FF,
			U+0131,
			U+0152-0153,
			U+02BB-02BC,
			U+02C6,
			U+02DA,
			U+02DC,
			U+2000-206F,
			U+2074,
			U+20AC,
			U+2122,
			U+2191,
			U+2193,
			U+2212,
			U+2215,
			U+FEFF,
			U+FFFD;
	}
	:root {
		--color: 263;
	}
	html, body {
		font-family: 'Work Sans', sans-serif;
		-webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		background-color: #F6F6F6;
		margin: 0;
		padding: 0;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
